h1{
    font-family: 'Nickainley';
    margin-bottom: 100px;
    text-align: center;
    color: #AC47AA;

}
h3{
    margin-bottom: 20px;
    color: #FF576B;
    font-family: 'Nickainley';
    font-size: 40px;
    margin-left: 20px;
}
h4{
    margin-bottom: 20px;
    color: black;
    font-family: 'Nickainley';
    font-size: 40px;
    margin-left: 20px;
}
p{
    text-align: center;
    font-size: 80%;
}

/* register form & Login form starts */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 1000px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: #D0ADDC;
}
a{
    text-decoration: underline;
    font-size: 20px;
    color: #5E17EB;
}
.right_section{
    animation: SlideIn 1.2s;
}
@keyframes SlideIn {
    0%{
        opacity: 0;
        transform: translateY(-5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
#loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;

}
.main_container{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 150px;
        padding: 0;
        width: 100%;
        height: 100%;
}
.main_sec{
    width: 100%;
    height: 100%;
    display: flex;
    background: #D0ADDC;
    justify-content: center;
    position: relative;
}
.main_sec2{
    width: 100%;
    height: 100%;
    background: #D0ADDC;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.formbox{
    width: 250x;
    height: 100%35x;
    background-color: #AC47AA;
    border-radius: 20px;
    
}
.right_section{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}
#first_screen > .header > .hamburger-menu{
    display: none;
}
#line {
    width: 100%;
    border-bottom: 1px solid gray;
}
label {
    margin: 30px 0 5px 0;
    font-size: 1.3em;
}

input {
    margin: 10px 0;
    font-size: 1.2em;
}
.button {
    cursor: pointer;
    background-color:#AC47AA;
    color: white;
    opacity: 0.6;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    margin: 20px 0;
}

.button:hover {
    transition: .4s;
    opacity: 0.8;
}

.button:active {
    opacity: 0.8;
}

textarea {
    margin: 0 0 20px 0;
}
/* register form & Login form ends */

/*home starts*/
body.home {
    background-color: #FFCBCF;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 300px;
    margin-right: 300px;
    padding: 0;
}

.text {
    margin-right: 20px;
    margin-left: 20px;
    word-wrap: break-word;
    text-align: left;
}

.image-donuts {
    width: 350px;
}
/*home ends*/


/* header starts */
header {
    background-color: #D9E021;
    text-decoration-color: #FF576B;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}

@font-face {
    font-family: 'Nickainley';
    src: url('Nickainley-Normal.otf') format('opentype');    
}

title{
    margin-bottom: 20px;
    text-align: left;
    color: #FF576B;
    font-family: 'Nickainley';
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;

}

a.menu{
    text-decoration: underline;
    font-size: 30px;
}

nav ul li a {
    font-family: 'Nickainley';
    color: #FF576B;
    margin-right: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    width: 180px;
}

nav{
    flex: 1;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
}
nav ul li {
    margin-right: 20px;
}

/* header ends */






body.index{
    background-color: #FA740F;
}

/* footer starts */

.footer{
    background-color: #D9E021;
    margin-top: 30px;
}

.footer > p {
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


hr.solid {
    border-top: 3px solid #bbb;
    width: 80%;
  }

.navi_menu{
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
	background-color: lightgray;
}

.navi_menu > ul {
	width: 300px;
	margin: 0;
	padding: 20px 0 0 0;
	list-style-type: none;
}


.navi_menu > ul > li > a {
	display: block;
	padding: 10px 16px;
	text-decoration: none;
	color: #000000;
    height: 50px;
    padding: 30px 0 0 0;
}


.navi_menu > ul > li  {
	text-align: center;
    font-size: 1.3em;
}

.navi_menu > ul > li :last-child {
	border-bottom: none;
}

.navi_menu > ul > li  a.active {
	color: #ffffff;
}


.navi_menu > ul > li  a:hover:not(.active) {
	color: #ffffff;
    transition: .4s;
	background-color: #1b2538;
}

.navi_menu > ul > li >.hidden_menu{
    display: none;
    transition: .4s;
    padding: 20px 0 0 0;
}


.navi_menu > ul > li >.hidden_menu > li{
    height: 50px;
    list-style: none;
}

.navi_menu > ul > li >.hidden_menu > li > a{
    padding: 30px 0 0 0;
    vertical-align: middle;
    background-color: transparent !important;
    width: 300px;
}

.navi_menu > ul > li:hover a + .hidden_menu{
    display: block;

}

/* footer ends */


/* index */

p1{
    text-align: left;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.otf') format('opentype')    
}

.text-content {
    font-family: 'Montserrat';
    font-size: 16px;
}

.product img{
    width: 120px;
    height: auto;
    margin-right: 10px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item-content {
    display: flex;
    align-items: center;
}

.button.cart {
    cursor: pointer;
    opacity: 0.6;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    margin: 20px 0;
    background: none;
    border: none;
}


/* index ends */


.image-container {
    text-align: center;
}

.image-container img {
    display: block;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 250px;
}

/* stock manage layout starts */
body.stock{
    background-color: #A6E4FF;
    font-family: Glacial Indifference;
    width: 100%;
    height: 100px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}
@font-face{
    font-family: Glacial Indifference;
    src: url('GlacialIndifference-Regular.otf') format('opentype');
}
h2.stock{
    font-family: 'Glacial Indifference';
    text-align: center;
    color: #000000;
}
#stockform{
    width: 100%;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
#wrap input{
    border-radius: 5px;
    width: 30%;
    height: 30px;
}
.form-field {
    flex: 0 0 48%;
    margin-bottom: 10px;
}
button{
    width: 10%;
    height: 35px;
    background-color:#29ABE2;
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color:#aaaaaa;
}
table{
    border: solid 1px black;
    border-radius: 10px;
    background-color: white;
}
td{
    border: 1px solid white;
    border-radius: 10px;
}
/* stock manage layout ends */






/* registration php */

.customerform{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.small_link:hover, .small_link:active{
    color:#8262DD;
    transition: .4s;
} 

#regi_form{
  margin-top: 100px;  
}


section{
  display: flex;
}

section > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    height: 40px;
}

/* mashups section */

.mashups_sec{
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: end;
   margin: 20px 10px 0 0;
}

.mashups_sec > #statement {
    background-color: #8262DD;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
    width: 40%;
}

#info_logo{
    width: 150px;
    padding-top: 10px;
    margin: 0 auto;
}

.mashups_sec > #statement>p{
    color: white;
    font-size: 1.3em;
    padding:20px; 
}

.mashups_sec > #map{
    height: 400px;
    width: 40%;
}

.mashups_sec > #video {
    height: 460px;
    margin: 0 5px;
    width: 50%;
}

.mashups_sec>#feed{
    height: 460px;
    width: 30%;
}



/* product_catalog page starts */


.right_section2{
    padding: 30px 0 0 0 ;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    height: 50px;
    width: 100%;
   display: flex;
   justify-content: center;
   padding: 0 50px 0 0;
   margin: 0 0 50px 0;
}

#cart{
    cursor: pointer;
    position: absolute;
    top: -78px;
    right: 95px;
    width: 100px;
    display: flex;
}

#cart img {
    width: 50px;
}

#cart span{
    color: red;
    font-size: 1.5em;
    margin-bottom: 20px;
}


#cart_dialog{
    position: absolute;
    top: 0px;
    right: 20px;
    width: 700px;
    height:400px;
    background: white;
    border: gray 1px solid;
    z-index: 99999;
    padding: 10px;
}


#cart_dialog2, #stock_screen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:500px;
    background: white;
    padding-top: 40px;
}

#cart_dialog2 > table{
    margin-left: auto;
    margin-right: auto;
}


table, th, tr, td{
    border:1px solid gray;
}

tab

.search input {
    height: 30px;
    border: 1px gray solid;
    border-radius: 5px;
}

.search_button{
    font-size: .8em;
}

.products{
    width: 1000px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    padding: 40px 0 0 0;
    margin: 10px 0;
}

.products img{
    width: 20%;
}

.pro_detail  span{
    margin: 20px 0 ;
}


.pro_detail{
    width: 70%;
    height: 100%;

}

.pro_detail article{
   height: 50px;
   background: white;
   border: 1px gray solid;
   border-radius: 5px;
}

.pro_detail input[type="number"]{
   width: 50px;
}

.pro_detail label {
     font-size: 1em;
     margin: 0 5px;
}

.button2{
    cursor: pointer;
    background-color: #31c49d;
    color: white;
    opacity: 0.6;
    width: 140px;
    height: 50px;
    border: 1px gray solid;
    box-shadow: 0px 2px 0px 0px gray;
    border-radius: 5px;
    margin: 20px 0;
    margin-left: 20px;
}

.button2:hover,.button2:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
   box-shadow: none;

}

#checkout{
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    justify-content: end;
    padding: 20px 10px 0 0;
}

#checkout:hover {
    opacity: .7;
}


#checkout_btn{
    margin-top: 100px;
}

#payment{
    margin: 8px 0;
    height: 30px;
}

#payment_form > label {
    margin-top: 25px;
}
